.card{
  &-project{
    width:424px;

    &.more-project{
      &:after{
        content: "";
        width: 5rem;
        height: 5rem;
        background: #f8f9fa;
        position: absolute;
        right: -21px;
        bottom: -20px;
        border-radius: 50%;
        transform: translate3d(2px, 2px, 0px) scale(2);
        transition: all 0.7s ease-out;
      }

      &:hover{
        &:after{
          content: "";
          transform: translate3d(2px, 2px, 0px) scale(5);
        }
       
      }
    }
  }
}
