html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow-x:hidden;
	overflow-y: overlay;
	background-attachment: fixed;
}

h2 {
	font-size: 2em;
	@media (min-width: 768px) {
		font-size: 5vw;
	}
  span{
    display: block;
  }
}

.letter-space-20{
  letter-spacing: 20px;
  @media (min-width: 768px) {
		font-size: 6vw;
	}
}

.card{
  &-project{
    width:424px;
  }
}

.w-44{
  width: 11rem;
} 

.h-44{
  height: 11rem;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

